Itemname
{
   color:red;
   Font-family:copperplate GothicLight;
   Font-size:16 pt
   Font:bold
}
Itemprice
{
   color:yellow;
   Font-family:Arial;
   Font-size:16 pt
   Font:bold
}
quantity
{
   color:red;
   Font-family:copperplate GothicLight;
   Font-size:16 pt
   Font:bold
}
